.card {
   margin-bottom: 30px;
  .card-subtitle {
    font-size: 12px;
  }
  .card-text {
    font-size: 14px;
  }
  .btn-outline-primary {
    font-size: 12px;
  }
  .badge-primary {
    font-size: 10px;
  }
}


ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
