
.navbar {
  background-color: #ffffff;
  line-height: 1;
  border-bottom: 1px solid black;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}

ul {
  list-style: none;
  padding: 0;
}